.App-aside {
  position: fixed;
  top: 100px;
  left: -220px;
  box-sizing: border-box;

  padding: 10px;
  color: white;

  height: auto;
  min-height: 100px;
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: none;

  width: 200px;
  background-color: #282c34;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

  transition: left 0.3s ease-in-out;
}

.App-aside.open {
  left: 20px;
}

.App-aside div {
  margin-bottom: 5px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 5px;
}